[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypiserver = "*"
setuptools = "*"
italo = {path = "./packages/pkg-italo"}

[requires]
python_version = "3.8"

[dev-packages]
